.container {
    height: 450px;
    width: 400px;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    margin: 10px;
}

.container1 {
    height: 50px;
    width: 370px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}

.container2 {
    height: 120px;
    width: 100px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    margin: 10px;
    margin: auto;
}

.container3 {
    height: 50px;
    width: 200px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
    margin-left: 100px;
}

.container4 {
    height: 50px;
    width: 370px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}

.container5 {
    height: 50px;
    width: 370px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    margin: 10px;
}